html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.banner {
  /* background-image: url('../assets/welcome-image.jpg'); */
  background-image: url('../assets/delicious-food.jpg');
  background-repeat: no-repeat;
  height: 700px;
}

.welcome h1 {
  color: #d67e34;
}